@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-barlowc {
  font-family: "barlow condensed", serif;
  font-weight: 400;
  font-style: normal;
}

/*------------COLOR NAV--------------*/
.bg-ryf {
  background-color: #ffc000;
}

.text-ryf {
  color: #ffff00;
}

.text-ryf2 {
  color: #00ff01;
}

.text-ryf3 {
  color: #7030a0;
}

.pimg {
  position: relative;
  padding-bottom: 25px;
}

.div-con-imagen {
  position: relative;
  width: 100%;
  background-image: url('../img/portada/1.jpg');
  background-size: cover;
  background-position: center;
  
}

.div-con-imagen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-color: #000000;
  opacity: 0.5; /* Ajusta la opacidad para el efecto deseado */

  pointer-events: none; /* Permite interactuar con los elementos debajo */
}

.textpoint {
  font-size: 1.4rem;
}

.bg-etapa1 {
  background-color: #fcbd5fa8;
}

.bg-etapa2 {
  background-color:#2e86bd8f;
}

.bg-etapa3 {
  background-color:#d17d0798;
}

.alerta-cupos {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background: red;
  text-transform: uppercase;
  border-radius: 10px;
  animation: pulsar 1.5s infinite alternate, brillo 2s infinite alternate;
  text-align: center;
  border: 3px solid white;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

@keyframes pulsar {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.1);
  }
}

@keyframes brillo {
  0% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
      border-color: white;
  }
  100% {
      box-shadow: 0 0 20px rgba(255, 255, 0, 1);
      border-color: yellow;
  }
}



.div-con-imagen2 {
  position: relative;
  width: 100%;
 
  background-image: url('../img/serv.png');
  background-size: cover;
  background-position: center;
}

.hc {
  width: 250px;
}

.hh {
  height: 80px;
}

.div-con-imagen2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff73;
  opacity: 0.5; /* Ajusta la opacidad para el efecto deseado */

  pointer-events: none; /* Permite interactuar con los elementos debajo */
}

.div-con-imagen3 {
  position: relative;
  width: 100%;
  background-image: url('../img/servcon.webp');
  background-size: cover;
  background-position: center;
  border-top: 3px solid #fcbe5f; /* Grosor, estilo y color */
}

.div-con-imagen3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7fcf7;
  opacity: 0.6; /* Ajusta la opacidad para el efecto deseado */

  pointer-events: none; /* Permite interactuar con los elementos debajo */
}


.hp {
  color: white;
}

.bg-ryf2 {
  background-color: #1b698d;
}

.bg-ryf3 {
  background-color: #155f82;
}

.bg-ryf4 {
  background-color: #ffffff;
}

.text-justify {
  text-align: justify;
}

.sha {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Sombra más intensa */
  z-index: 2; /* Asegura que el texto quede por encima de las imágenes */
}

.text-barlow {
  font-family: "barlow", serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-pc {
  margin-bottom: 100px;
}

.aparicion {
  animation: fadeIn 6s ease-out forwards; /* Animación de aparición */
}

.logoanimacion {
  opacity: 0; /* Oculto al inicio */
  transform: translateY(-10); /* Asegurar que esté en su posición inicial */
  transition: transform 0.6s ease; /* Mantiene la transición para hover */
}

.logoanimacion:hover {
  transform: translateY(-10px); /* Movimiento suave al pasar el mouse */
}

/*CARRUSEL DE IMAGENES*/
.carousel-item {
  position: relative; /* Para que la imagen se posicione absolutamente */
  overflow: hidden; /* Ocultamos cualquier parte de la imagen que se salga del contenedor */
  height: 450px; /* O la altura que desees para tu carrusel */
  margin-right: ;
}

.carousel-item::before {
  content: ''; /* Creamos un pseudo-elemento para el fondo */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(90, 233, 126, 0.37); /* Fondo blanco con 20% de opacidad */
  z-index: 1; /* Aseguramos que el fondo esté sobre la imagen, pero debajo del contenido */
}

.carousel-item img {
  width: 100%; /* La imagen ocupa todo el espacio disponible */
  height: 100%; /* La imagen mantiene el tamaño del contenedor */
  object-fit: cover; /* Asegura que la imagen se recorte para cubrir el contenedor sin distorsión */
  position: absolute; /* La imagen se posiciona encima del contenedor */
  top: 0;
  left: 0;
  transition: transform 9s ease-in-out; /* Animación suave para la escala */
  pointer-events: none;
}


/* Aplicamos la animación solo a la imagen activa */
.carousel-item.active img {
  animation: growImage 11s ease-in-out infinite; /* Hace crecer solo la imagen */
}

/* Definición de la animación */
@keyframes growImage {
  0% {
    transform: scale(1); /* Tamaño inicial */
  }
  100% {
    transform: scale(1.20); /* Aumenta el tamaño de la imagen */
  }
}

.carousel-item-next img,
.carousel-item-prev img {
  filter: blur(2px); /* Un pequeño desenfoque para las imágenes de transición */
}

/* Estilo para el contenedor de la imagen */
.image-container {
  position: relative; /* Necesario para posicionar correctamente las imágenes */
  height: 100%;
}
/*------------------------------------------------------*/

/*BOTONES CARRUSEL */
/* Forzar el caption a que esté centrado y sobre la imagen */
.carousel-caption-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2; /* Asegura que esté por encima de la imagen */
}

/* Sobrescribir el estilo predeterminado de Bootstrap */
.carousel-caption.custom-caption {
  position: static; /* Para que no herede la posición absoluta de Bootstrap */
  display: inline-block;
  background: transparent; /* Ajusta si deseas fondo */
  padding: 0;
  margin: 0 auto;
}

/* Centrar los botones y añadir separación */
.carousel-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 15px;
  pointer-events: auto;
}

/* Estilos para los botones */
.carousel-buttons .btn {
  pointer-events: auto; /* Garantiza la interactividad en cada botón */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  z-index: 3; /* Asegura que los botones estén por encima */
}

/* Botón Servicios */
.carousel-buttons .btn-primary {
  background-color: transparent;
  border: 2px solid #0056b3;
  border-radius: 10px; /* Esquinas redondeadas */
  color: white;
}

.carousel-buttons .btn-primary:hover {
  background-color: #0056b3;
}

/* Botón Planes */
.carousel-buttons .btn-secondary {
  background-color: transparent;
  border: 2px solid #fcbe5f;
  border-radius: 10px; /* Esquinas redondeadas */
  color: white;
}

.carousel-buttons .btn-secondary:hover {
  background-color: #fcbe5f;
}

/* Si fuese necesario, asegúrate de que la imagen y su pseudo-elemento no interfieran */



/*--------------------------------------------------------*/



/*TEXTO BIENVENIDOS*/
/* Estilo para el contenedor del texto */
.carousel-caption-container {
  position: absolute; /* Lo posicionamos de manera absoluta en el carrusel */
  top: 0; /* Asegura que el contenedor cubra todo el alto */
  left: 0; /* Asegura que el contenedor cubra todo el ancho */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  height: 100%; /* Asegura que el contenedor ocupe todo el alto */
  display: flex; /* Activa Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  z-index: 2; /* Asegura que el texto quede por encima de las imágenes */
  pointer-events: none; /* Evita que el texto interfiera con la interacción con el carrusel */
}
/* Estilo para el texto */
.carousel-caption {
  top: 0; /* Asegura que el contenedor cubra todo el alto */
  left: 0; /* Asegura que el contenedor cubra todo el ancho */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  height: 100%; /* Asegura que el contenedor ocupe todo el alto */
  display: flex; /* Activa Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: column;
  color: white; /* Color del texto */
  font-size: 6vw; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.788); /* Sombra para mejorar visibilidad */
  font-family: "barlow", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(0, 0, 0, 0.301);
  width: 100%;
}
/*-------------------------------------------------------------------*/


/* Estilo para las cards */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el agrandamiento y la sombra */
  border: none; /* Eliminamos el borde predeterminado para un look más limpio */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil por defecto */
  border-radius: 15px; /* Bordes ligeramente redondeados para suavizar el diseño */
  overflow: hidden; /* Asegura que las imágenes no sobresalgan */
}

/* Efecto al pasar el mouse */
.card:hover {
  transform: scale(1.05); /* Agranda la card un 5% */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
}

/* Estilo para las imágenes dentro de las cards */
.card-img-top {
  transition: transform 0.3s ease; /* Suaviza el efecto de la imagen */
}

/* Efecto sutil en la imagen al hacer hover */
.card:hover .card-img-top {
  transform: scale(1.05); /* La imagen también se agranda ligeramente */
}


.bg-blancopalido {
  background-color: #f6f8fb;
}

.titulo-animado {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.titulo-visible {
  opacity: 1;
  transform: translateX(0);
}


@keyframes fadeIn3 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.texto-fade {
  opacity: 0;
}

.servinc {
  position: relative;
  top: -50%;
  transform: translateY(-50%);
  margin-left: 27%;
  margin-right: 27%;
}

.texto-visible {
  animation: fadeIn3 1.5s ease-out 0.3s forwards;
}

.description {
  font-size: 1.3rem;
}

.text-count {
  font-size: 2rem;
  font-weight: 500;
}

.bg-seguro {
  background-image: url("../img/contador.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-whiteopacity {
  background-color: rgba(172, 224, 162, 0.719);
  width: 80%;
}


.counter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.counter {
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
  margin: 0;
}



/* BOTON DE WHATSAPP*/
/* Estilo para el botón flotante de WhatsApp */
.whatsapp-btn {
  position: fixed; /* Fija el botón en la pantalla */
  bottom: 40px; /* Distancia desde el fondo */
  right: 20px; /* Distancia desde el lado derecho */
  width: 60px; /* Tamaño del botón */
  height: 60px; /* Tamaño del botón */
  border-radius: 50%; /* Hacerlo redondo */
  background-color: #25d366; /* Fondo verde de WhatsApp */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para darle efecto de flotante */
  z-index: 1000; /* Asegura que el botón siempre esté encima de otros elementos */
  transition: all 0.3s ease; /* Suaviza las transiciones */
}
.whatsapp-icon {
  width: 30px; /* Tamaño del icono de WhatsApp */
  height: 30px;
}
/* Efecto hover para resaltar el botón */
.whatsapp-btn:hover {
  transform: scale(1.1); /* Hace que el botón se agrande un poco cuando pasa el mouse */
}


/* BOTON DE SCROLL*/
/* Estilo para el botón de subir al principio */
.scroll-to-top-btn {
  display: none; /* Inicialmente oculto */
  position: fixed; /* Fija el botón en la pantalla */
  bottom: 120px; /* Distancia desde el fondo */
  right: 20px; /* Distancia desde el lado derecho */
  width: 60px; /* Tamaño del botón */
  height: 60px; /* Tamaño del botón */
  border-radius: 50%; /* Hace que sea redondo */
  background-color: #007bff9f; /* Fondo azul */
  color: white; /* Color del icono */
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para dar efecto flotante */
  z-index: 1000; /* Asegura que el botón quede encima de otros elementos */
  transition: all 0.3s ease; /* Suaviza las transiciones */
  font-size: 24px; /* Tamaño del icono */
  cursor: pointer; /* Cambia el cursor a mano cuando pasa sobre el botón */
  position: fixed;
}
/* Efecto hover para resaltar el botón */
.scroll-to-top-btn:hover {
  transform: scale(1.1); /* Agranda el botón ligeramente cuando se pasa el mouse */
}
/* Estilo para el icono dentro del botón */
.scroll-to-top-btn i {
  font-size: 30px; /* Tamaño del icono */
}
/*----------------------------------------------------*/


.bg-insta {
  background: linear-gradient(to right, #ffba00, #ff0067);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html, body {
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.he {
  height: 15rem;
}

.btn-agenda {
  display: inline-block;
 border: 2px solid white;
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-agenda:hover {
  background-color: #128C7E; /* Color más oscuro al pasar el mouse */
  transform: scale(1.05); /* Pequeño efecto de agrandamiento */
}


.btn-serv {
  display: inline-block;
 border: 2px solid #128C7E;
  color: rgb(10, 0, 0);
  padding: 12px 20px;
  margin:auto;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-serv:hover {
  background-color: #128C7E; /* Color más oscuro al pasar el mouse */
  transform: scale(1.05); /* Pequeño efecto de agrandamiento */
}

.texth {
  height: 10rem;
}

.card2 {
  background-color: rgba(255, 255, 255, 0.863);
}

.card2:hover {
  background-color: white;
}

a {
  text-decoration: none;
  text-decoration-color: white; /* Cambia el color de la línea (subrayado) */
}



/* Estilos generales */
body {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  background-color: #f39608;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #d17e07;
}

/* Estilos del Pop-up */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none; /* Oculto por defecto */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que esté sobre todo */
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  position: relative;
  animation: fadeIn2 0.5s ease-in-out;
}

/* Estilos del botón de cierre */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* Estilo del video */
.video-container {
  margin-top: 10px;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-ryf8 {

  background: linear-gradient(to right, #6c757d 0%, #6c757d 25%, #fcbe5f 50%, #6c757d 75%, #6c757d 100%);
  position: relative;
}

.bg-ryf8::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Ajusta la altura del difuminado */
  background: linear-gradient(to bottom, #6c757d, transparent);
}



/* Animación de aparición */
@keyframes fadeIn2 {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Colores personalizados */
.plan-text-purple { color: #fcbe5f; }
.plan-text-red { color: #dc3545; }

/* Estilo del botón circular */
.plan-btn-purple {
  background-color: #fcbe5f;
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  font-size: 14px;
}
.plan-btn-purple:hover {
  background-color: #f5a329;
}

/* Fondo con imagen borrosa y overlay */
.plan-container {
  position: relative;
  /* min-height: 100vh; */
}
.plan-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/contador.jpg'); /* Reemplaza con tu imagen */
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}
.plan-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

/* Ajustes para el texto del toggle */
.plan-toggle-link {
  color: #fcbe5f;
  text-decoration: none;
}
.plan-toggle-link:hover {
  text-decoration: underline;
}




@media (min-width: 371px) {
  .texth {
    height: 8rem;
  }

  .hc {
    width: 280px;
  }
  .hh {
    height: 90px;
  }
}


@media (min-width: 425px) {
  .texth {
    height: 6rem;
  }

  .carousel-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 65px;
    margin-top: 15px;
    pointer-events: auto;
  }

  .hc {
    width: 380px;
  }
  .hh {
    height: 110px;
  }
}

@media (min-width: 545px) {
  .texth {
    height: 5rem;
  }
  .hh {
    height: 120px;
  }
}




@media (min-width: 768px) {
  .div-con-imagen {
    position: relative;
    width: 100%;
    background-image: url('../img/portada/1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 5%;
  }
  
  .div-con-imagen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #000000;
    opacity: 0.5; /* Ajusta la opacidad para el efecto deseado */
  
    pointer-events: none; /* Permite interactuar con los elementos debajo */
  }


  .texth {
    height: 8rem;
  }

  .hc {
    width: 580px;
  }

  .hh {
    height: 140px;
    width: 370px;
  }

  .hl {
    height: 60px;
  }
}

@media (min-width: 1000px) {
  .texth {
    height: 4.5rem;
  }

  .text-pc {
    text-align: center;
  }

  .carousel-caption {
    
    font-size: 4vw; /* Tamaño del texto */
   
  }

  .hc {
    width: 580px;
  }

  .hh {
    height: 155px;
    width: 370px;
  }

  .hl {
    height: 90px;
  }
}



@media (min-width: 1300px) {
  .texth {
    height: 4.5rem;
  }

  .text-pc {
    text-align: center;
  }

  .carousel-caption {
    
    font-size: 4vw; /* Tamaño del texto */
   
  }

  .hc {
    width: 580px;
  }

  .hh {
    height: 195px;
    width: 470px;
  }
}